
html {
    background-color:rgb(62, 62, 111);
    color: white;
}

body {
    width: 90vw;
    display: grid;
}

header{
    background-color: rgba(2, 2, 16, 0.271);
    width: 100vw;
    height: 5vw;
    top: 0;
    position: fixed;
    margin-bottom: 5px;
}

.presentation {
    width: 30%;
    height: 30%;
    padding: 2%;
    margin: 1%;
}


